.main__header {
    background-color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

.connection, .user__control, .connect {
    display: flex;
    align-items: center;
}
