<div class="main__header">
    <div class="grid">
        <div class="container">
            <div class="connection">
                <div class="download">
                    <span class="title">Download app</span>
                </div>
                <div class="connect">
                    <span class="title">Kết nối</span>
                    <div class="fb-connect">
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </div>
                    <div class="ins-connect">
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="user__control">
                <div class="user-notice">
                    <i class="fa-regular fa-bell"></i>
                    <span class="title">Notice</span>
                </div>  
                <div class="user__help">
                    <i class="fa-regular fa-circle-question"></i>
                    <span class="title">Help</span>
                </div>
                <div class="user__login">Login</div>
                <div class="user__sign-in">Sign in</div>
            </div>
        </div>
    </div>
</div>